<div *ngIf="user">
    <input class="orgName form-control" type="text" [(ngModel)]="orgName" placeholder="Search Github User" (keyup)="search()">
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="org-search">
                <h2 class="username">{{user.name}}</h2>
            </div>
        </div>
        <br>
        <div class="panel-body org-info">
            <div class="row">
                <div class="col-md-4">
                    <img class="github-avatar img-thumbnail" src="{{user.avatar_url}}">
                </div>
                <div class="col-md-8 org-metadata">
                    <span class="label text-primary mb-1">{{user.bio}}</span>
                    <br>
                    <span class="label text-secondary mb-1">{{user.email}}</span>
                    <br>
                    <span class="label text-success mb-1">{{user.location}}</span>
                    <br>
                    <span class="label text-danger mb-1">{{user.public_repos}} Public Repos</span>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{user.login}}'s Repos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <ng-container *ngFor="let repo of orderedRepo">
                            <div class="repo-info">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h4 class="pl-1"><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></h4>
                                        <p class="pl-1">{{repo.description}}</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="label label-primary mr-1" style="color:coral">{{repo.watchers}}: Watchers</span>
                                        <span class="label label-success" style="color:limegreen">{{repo.forks}}: Forks</span>
                                        <br>
                                        <button type="button" class="btn btn-sm btn-outline-primary" (click)="getCommits(repo.index, repo.name)">Display Commits</button>
                                        <button type="button" class="btn btn-sm btn-outline-danger" (click)="clearCommits(repo.index)">Hide</button>
                                    </div>
                                </div>
                                <ng-container *ngIf="repo.commits[0]">
                                    <ng-container *ngFor="let commit of repo.commits[0]">
                                        <div class="row commit-info">
                                            <div class="col-md-8 text-left">
                                                <p>{{commit.commit.message}}</p>
                                            </div>
                                            <div class="col-md-4 text-center">
                                                <p>{{commit.commit.author.name}}</p>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
</div>